* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  /*overflow: hidden;  スクロールを無効にする場合 */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* overflow: hidden; 画像がはみ出さないようにする */
}

img {
  height: auto; /* 縦に長く表示されるように */
  max-width: 100%;
  /*object-fit: contain;  画像がはみ出さないように調整 */
}
