* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden; /* ページ全体のスクロールを無効化 */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: scroll; /* 縦スクロールを有効にする */
}

.image-wrapper {
  max-height: 100%;
  width: auto;
  overflow: auto; /* 画像をスクロールできるようにする */
}

img {
  display: block;
  width: 100%;
  height: auto;
}
